<div class="wrapper">
    <div class="card">
        <h4 class="title">Registrar usuario</h4>
        <form>
            <div class="field">
                <input autocomplete="off" id="name" placeholder="Daniel Scarlazzetta" class="input-field" name="name" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="username" placeholder="DanScar" class="input-field" name="username" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="pass" placeholder="Password" class="input-field" name="pass" type="password">
            </div>
            <div class="field">
                <input autocomplete="off" id="pass2" placeholder="Password" class="input-field" name="pass2" type="password">
            </div>
            <div class="field">
                <input autocomplete="off" id="logemail" placeholder="dan@dan.dan" class="input-field" name="logemail" type="email">
            </div>
            <div class="field">
                <input autocomplete="off" id="phone" placeholder="Telefono" class="input-field" name="phone" type="text">
            </div>
            <div class="field">
                <input autocomplete="off" id="dress" placeholder="Direccion" class="input-field" name="dress" type="text">
            </div>
            <button class="btn" type="submit" routerLink="/login">Regresar</button>
            <button class="btn" type="submit" routerLink="/dashboard">Crear usuario</button>
        </form> 
    </div>
</div>